@font-face {
  font-family: rockwell;
  src: url(../fonts/rockwell/rock.ttf);
}

body {
	font-family: rockwell;
	margin: 0;
}

/* ----- header -----*/
.headerHome {
	background-image: url("../images/backgroundHeader.png");
	width: 100%;
	height: auto;
	padding-bottom: 6%;
}

.headerPages {
	background-image: url("../images/backgroundHeader.png");
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.headerLogo{
    width: 20%;
    margin-left: 5%;
    margin-top: 3%;
}

.headerDices{
	width: 18%;
    margin-left: 38%;
    position: absolute;
}

.headerBoard {
	position: absolute;
    width: 63%;
    right: 0;
}

.headerBoardPages {
	position: absolute;
    width: 63%;
    right: 0;
    top: -40%;
}

.titlePages {
	margin-left: 10%;
    font-size: 30px;
    margin-bottom: 3%;
}

.kreirajText {
	margin-left: 10%;
    font-size: 30px;
    margin-top: 12%;
    margin-bottom: 3%;
    position: relative;
}

.buttonKreiraj {
	text-decoration: none;
    color: #fff;
    background-color: #4EEE94;
    margin-left: 10%;
    padding: 25px 60px 20px;
    font-size: 30px;
}

/*----- pages -----*/
.breadcrumbs {
	margin-left: 10%;
	margin-top: 3%;
}

.titlePageSingle {
	font-size: 25px;
	text-align: center;
	margin-top: 3%;
}

.radioButton {
	display: none;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.buttonOdustani {
	background-color: #EE3B3B;
	color: #fff;
	position:absolute;
	padding: 25px 60px 20px;
	font-size: 20px;
	text-decoration: none;
	font-family: rockwell
}

.buttonDalje {
	background-color: #B2B2B2;
	color: #fff;
	position:absolute;
	padding: 25px 60px 20px;
	font-size: 20px;
	right: 10%;
	border: none;
	font-family: rockwell;
}

.buttonActive{
	background-color: #4EEE94;
}

/*---- brojIgraca page -----*/
.brojIgracaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  justify-items: center;
}

.price {
	text-align: center;
}

.active {
	border: 10px solid #4EEE94;
	margin-top: -10px;
	margin-bottom: -10px;
	border-radius: 30px
}

.pdv {
	margin-top: 30px;
}

/*----- oblikPloce page -----*/

.oblikPloceContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	justify-items: center;
}

/*----- odabir boje pozadine -----*/
.boardImage {
	box-shadow: 21px 12px 0 0 white inset, -26px -10px 0 0 white inset;
	background-color: #000;
}



/*----- odabir pravila -----*/
.pageText {
	margin: 70px 10%;
	font-size: 20px;
	line-height: 45px;
}

.buttonVideo {
	background-color: #4EEE94;
	color: #fff;
	margin-left:10%;
	padding: 25px 60px 20px;
	font-size: 20px;
	border: none;
	font-family: rockwell;
	text-decoration: none;
}

.pravilaContainer {
	margin-left: 10%;
	margin-top: 3%;
	width: 30%;
	float: left;
}



.pravilaText {
	font-size: 25px;
}

.pravilo {
	background-color: #4EEE94;
	display: inline-grid;
	color: #fff;
	padding: 6px 20px;
	border-radius: 30px;
	margin: 7px 1px;
}

.ploca {
	right: 10%;
	margin-top: 8%;
	position: relative;
	width: 40%;
	margin-left: auto;

}

.hiddenPloca {
	display: none;
}

.dodajPravilaContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kucica .pravilo {
	background-color: transparent;
	color: #000;
	padding: 0;
	font-size: 0.5vW;
	margin: 0;
}

.dodajPraviloContainer {
	display: grid;
    grid-template-columns: 9fr 2fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 31%;
}

.dodajPraviloContainer .pravilo {
	justify-self: left;
}

.customPravilo {
	width: 85%;
	text-align: center;
	background-color: #B2B2B2;
	border: 5px solid #B2B2B2;
	border-radius: 10px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.buttonDodaj{
	background-color: #B2B2B2;
	color: #fff;
	position:relative;
	padding: 16px 24px 8px;
	right: 10%;
	border: none;
	font-family: rockwell;
	border-radius: 10px;
	align-self: center;
}

.buttonActiveDodaj{
	background-color: #4EEE94;
}
/*-----Pregled igre-----*/
.pregledPloceContainer {
    display: grid;
    grid-template-columns: 8fr 3fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    justify-items: center;
}

.pdfPregled {
	height:100%;
	width:100%;
	pointer-events: none;
}
html body #zoom-toolbar {
	display: none;
}
/*-----Podaci za placanje -----*/

.osnovniPodaciText {
	grid-area: osnovniPodaciText;
}

.dostavaPodaciText {
	grid-area: dostavaPodaciText;
}

.osnovniPodaci {
	grid-area:osnovniPodaci;
}

.podaciZaDostavu {
	grid-area: podaciZaDostavu;
}

.podaciContainer {
	display: grid;
    grid-template-columns: 50% 50%;
	grid-template-areas: 
    "osnovniPodaciText dostavaPodaciText"
    "osnovniPodaci podaciZaDostavu";
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}

.osnovniPodaci {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 3%;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
}



.kupacIme {
	grid-column: 1 / 3;
}

.kupacPrezime {
	grid-column: 3 / 5;
}

.kupacEmail {
	grid-column: 1 / 5;
}

.kupacAdresa {
	grid-column: 1 / 4;
}

.kupacBroj {
	grid-column: 4 / 5;
}

.kupacBroj {
	grid-column: 4 / 5;
}

.kupacPostanskiBroj {
	grid-column: 1 / 2;
}

.kupacMjesto {
	grid-column: 2 / 5;
}

.kupacDrzava {
	grid-column: 1 / 3;
}

.kupacBrTelefona {
	grid-column: 3 / 5;
}

.kupacNapomena {
	grid-column: 1 / 5;
}

.kupacCheckbox {
	grid-column: 1 / 5;
}

.osnovniPodaci input {
	width: 100%;
	text-align: center;
	background-color: #B2B2B2;
	border: 5px solid #B2B2B2;
	border-radius: 10px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.osnovniPodaci input::placeholder,
.osnovniPodaci textarea::placeholder,
.customPravilo::placeholder {
	color: #fff;
	font-family: rockwell;
}

.osnovniPodaci input:focus,
.osnovniPodaci input:not(:placeholder-shown),
.osnovniPodaci textarea:focus,
.osnovniPodaci textarea:not(:placeholder-shown),
.customPravilo:focus,
.customPravilo:not(:placeholder-shown) {
	color: #000;
	font-family: rockwell;
	background-color: #fff;
}

.osnovniPodaci textarea {
	width: 100%;
	text-align: center;
	background-color: #B2B2B2;
	border: 5px solid #B2B2B2;
	border-radius: 10px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 150px;
}

.checkboxUvjeti {
	width: auto !important;
}

input:focus,
textarea:focus {
    outline:none;
}

.checkboxUvjeti {
  position: absolute;
  opacity: 0;
}

.checkboxUvjeti + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

.checkboxUvjeti + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 17px;
    height: 17px;
    background: #B2B2B2;
    border: 2px solid #B2B2B2;
    border-radius: 5px;
    margin-top: -5px;
  }

.checkboxUvjeti:hover + label:before {
    background: #B2B2B2;
  }
  

.checkboxUvjeti:checked + label:before {
    background: #fff;
  }


.checkboxUvjeti:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 #B2B2B2,
      4px 0 0 #B2B2B2,
      4px -2px 0 #B2B2B2,
      4px -4px 0 #B2B2B2,
      4px -6px 0 #B2B2B2,
      4px -8px 0 #B2B2B2;
    transform: rotate(45deg);
  }

.dpdImage {
	width: 80px;
	margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.tisakImage {
	width: 45px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.overseasImage {
	width: 100px;
	margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.glsImage {
	width: 100px;
	margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.nacinPlacanjaText {
	margin-top: 50px;
	margin-bottom: 20px;
}

.pregledPlacanja {
	margin-top: 50px;
}

.nazivIgre {
	border-bottom: 2px solid #000;
	width: 50%;
}

.dostavaIgre {
	border-bottom: 3px solid #000;
	width: 50%;
	margin-top: 10px;
}

.ukupnoIgre {
	width: 50%;
	margin-top: 10px;
}

.nazivIgre span ,
.dostavaIgre span,
.ukupnoIgre span {
	position: absolute;
    right: 30%;
}

.errorMessage {
	color: #EE3B3B;
	position: absolute;
    font-size: 11px;
    margin-top: 1px;
    margin-left: 5px;
}

/*----- zahvala -----*/
.zahvalaContainer {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}

.hvalaTextFirst {
	font-size: 20px;
	margin-bottom: 50px;
}

.hvalaTextSecond {
	font-size: 20px;
	margin-bottom: 100px;
}

.mailKontakt {
	text-decoration: none;
	color: #EE3B3B;
}

.buttonKreirajHvala {
	text-decoration: none;
    color: #fff;
    background-color: #4EEE94;
    margin-left: 10%;
    padding: 25px 60px 20px;
    font-size: 20px;
}

.buttonNaslovnica {
	background-color: #EE3B3B;
    color: #fff;
    padding: 25px 60px 20px;
    font-size: 20px;
    text-decoration: none;
	position: absolute;
	left: 43%;
}

/*-----staticne stranice -----*/
.staticneContainer {
  display: grid;
  grid-template-columns: 3fr 9fr;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.staticMenu {
	background-color: #E0E0E0;
    position: absolute;
    padding: 20px;
}

.staticMenu a {
	color: #000;
	text-decoration: none;
}

.staticText {
	z-index: 1;
}
/*----- home -----*/
.homeContainer {
  display: grid;
  grid-template-columns: 4fr 1fr 7fr;
  grid-row-gap: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.homeContainer img {
	width: 100%;
	height: auto;
}

.homeText {
	grid-column: 1/2;
	font-size: 30px;
	align-self: center;
	line-height: 60px;
}

.homeImage {
	grid-column: 3/4;
	justify-self: center;
}

/* ----- footer -----*/
.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
}

.footerContainer a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
}

.impressumFooter {
	justify-self: center;
}

.kontaktFooter {
	justify-self: end;
}

.footerText {
	grid-column: 1/4;
	text-align: center;
	font-size: 16px;
}


/*----responsive-----*/
@media screen and (max-width: 1600px) {
	.headerBoardPages {
		width: 50%;
		top: -18%;
	}

	.titlePages {
		font-size: 27px;
	}
}

@media screen and (max-width: 1200px) {
	.headerBoardPages {
		top: -10%;
	}

	.titlePages {
		font-size: 25px;
	}
}

@media screen and (max-width: 768px) {
	.headerBoardPages {
		top: -7%;
	}

	.titlePages {
		font-size: 20px;
	}
}

@media screen and (max-width: 550px) {
	.headerBoardPages {
		top: -7%;
	}

	.titlePages {
		font-size: 20px;
	}
}



